@import "tailwindcss";

@theme {
  --color-coral: #ff534a;
  --color-ink: #111111;
  --color-cream: #f1f1f0;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply overflow-x-hidden bg-cream text-[#333];
  }
}
